/* Загальні стилі для всього сайту */
body {
    background-color: black;  /* чорний фон */
    color: white;  /* білий текст */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Стилі для контейнера */
.content {
    margin-top: 50px;
}

/* Стиль для тексту, який змінюється */
h1, h2 {
    font-size: 4em;
    margin: 20px 0;
    letter-spacing: 2px;
    word-wrap: break-word;
}

/* Застосовуємо анімацію на змінний текст */
h1, h2 {
    animation: blink 1s step-end infinite;
}

/* Анімація миготіння */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Стилі для картинки */
img {
    max-width: 300px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid white;
}

/* Стилі для форми входу */
#login-form {
    margin-top: 20%;
    text-align: center;
}

input[type="text"], input[type="password"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

input[type="button"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="button"]:active {
    background-color: rgba(255, 255, 255, 0.4);
    }
