body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.terminal {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

#serverOutput {
    white-space: pre-line;
    margin-bottom: 10px;
    color: red;
}

#codeInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: black;
    color: white;
    border: 1px solid red;
    outline: none;
}
